@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {
  --background: oklch(0.9865 0.0029 84.559);
  --foreground: oklch(0.2758 0.0099 84.5896);
  --card: oklch(0.9798 0.0044 84.5628);
  --card-foreground: oklch(0.2758 0.0099 84.5896);
  --popover: oklch(0.9865 0.0029 84.559);
  --popover-foreground: oklch(0.2758 0.0099 84.5896);
  --primary: oklch(0.8735 0.1787 92.3401);
  --primary-foreground: oklch(0.1947 0.0403 98.7438);
  --secondary: oklch(0.9436 0.0078 84.5715);
  --secondary-foreground: oklch(0.3801 0.0152 84.5845);
  --muted: oklch(0.9577 0.0059 84.5667);
  --muted-foreground: oklch(0.5623 0.0125 84.5912);
  --accent: oklch(0.9811 0.0332 96.5603);
  --accent-foreground: oklch(0.4491 0.0921 93.8613);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9133 0.0089 84.5744);
  --input: oklch(0.9133 0.0089 84.5744);
  --ring: oklch(0.8735 0.1787 92.3401);
  --chart-1: oklch(0.8735 0.1787 92.3401);
  --chart-2: oklch(0.7493 0.1672 64.3208);
  --chart-3: oklch(0.6259 0.1978 36.8325);
  --chart-4: oklch(0.8388 0.1756 103.012);
  --chart-5: oklch(0.7105 0.1456 76.499);
  --sidebar: oklch(0.9725 0.0049 84.5641);
  --sidebar-foreground: oklch(0.329 0.0126 84.5868);
  --sidebar-primary: oklch(0.8735 0.1787 92.3401);
  --sidebar-primary-foreground: oklch(0.1947 0.0403 98.7438);
  --sidebar-accent: oklch(0.9436 0.0078 84.5715);
  --sidebar-accent-foreground: oklch(0.4491 0.0921 93.8613);
  --sidebar-border: oklch(0.9133 0.0089 84.5744);
  --sidebar-ring: oklch(0.8735 0.1787 92.3401);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.05;
  --shadow-color: hsl(40, 20%, 10%);
  --shadow-2xs: 0px 2px 10px 0px hsl(40 20% 10% / 0.03);
  --shadow-xs: 0px 2px 10px 0px hsl(40 20% 10% / 0.03);
  --shadow-sm:
    0px 2px 10px 0px hsl(40 20% 10% / 0.05),
    0px 1px 2px -1px hsl(40 20% 10% / 0.05);
  --shadow:
    0px 2px 10px 0px hsl(40 20% 10% / 0.05),
    0px 1px 2px -1px hsl(40 20% 10% / 0.05);
  --shadow-md:
    0px 2px 10px 0px hsl(40 20% 10% / 0.05),
    0px 2px 4px -1px hsl(40 20% 10% / 0.05);
  --shadow-lg:
    0px 2px 10px 0px hsl(40 20% 10% / 0.05),
    0px 4px 6px -1px hsl(40 20% 10% / 0.05);
  --shadow-xl:
    0px 2px 10px 0px hsl(40 20% 10% / 0.05),
    0px 8px 10px -1px hsl(40 20% 10% / 0.05);
  --shadow-2xl: 0px 2px 10px 0px hsl(40 20% 10% / 0.13);
  --tracking-normal: -0.01em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1476 0.0031 84.8676);
  --foreground: oklch(0.9577 0.0059 84.5667);
  --card: oklch(0.1726 0.0045 84.5929);
  --card-foreground: oklch(0.9577 0.0059 84.5667);
  --popover: oklch(0.1602 0.0038 84.5921);
  --popover-foreground: oklch(0.9577 0.0059 84.5667);
  --primary: oklch(0.8735 0.1787 92.3401);
  --primary-foreground: oklch(0.1947 0.0403 98.7438);
  --secondary: oklch(0.2427 0.0082 84.5913);
  --secondary-foreground: oklch(0.8935 0.0149 84.5857);
  --muted: oklch(0.2199 0.007 84.5924);
  --muted-foreground: oklch(0.7355 0.0181 84.5925);
  --accent: oklch(0.2758 0.0099 84.5896);
  --accent-foreground: oklch(0.8932 0.1718 95.3154);
  --destructive: oklch(0.4776 0.1631 25.9396);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.2758 0.0099 84.5896);
  --input: oklch(0.2758 0.0099 84.5896);
  --ring: oklch(0.8735 0.1787 92.3401);
  --chart-1: oklch(0.8735 0.1787 92.3401);
  --chart-2: oklch(0.8471 0.1549 89.4456);
  --chart-3: oklch(0.8705 0.1722 103.8671);
  --chart-4: oklch(0.7358 0.1599 66.0122);
  --chart-5: oklch(0.7308 0.1536 74.4857);
  --sidebar: oklch(0.1602 0.0038 84.5921);
  --sidebar-foreground: oklch(0.9293 0.0098 84.5761);
  --sidebar-primary: oklch(0.8735 0.1787 92.3401);
  --sidebar-primary-foreground: oklch(0.1947 0.0403 98.7438);
  --sidebar-accent: oklch(0.2427 0.0082 84.5913);
  --sidebar-accent-foreground: oklch(0.8932 0.1718 95.3154);
  --sidebar-border: oklch(0.2758 0.0099 84.5896);
  --sidebar-ring: oklch(0.8735 0.1787 92.3401);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 10px;
  --shadow-blur: 20px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: hsl(0, 0%, 0%);
  --shadow-2xs: 0px 10px 20px 0px hsl(0 0% 0% / 0.2);
  --shadow-xs: 0px 10px 20px 0px hsl(0 0% 0% / 0.2);
  --shadow-sm:
    0px 10px 20px 0px hsl(0 0% 0% / 0.4), 0px 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow:
    0px 10px 20px 0px hsl(0 0% 0% / 0.4), 0px 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow-md:
    0px 10px 20px 0px hsl(0 0% 0% / 0.4), 0px 2px 4px -1px hsl(0 0% 0% / 0.4);
  --shadow-lg:
    0px 10px 20px 0px hsl(0 0% 0% / 0.4), 0px 4px 6px -1px hsl(0 0% 0% / 0.4);
  --shadow-xl:
    0px 10px 20px 0px hsl(0 0% 0% / 0.4), 0px 8px 10px -1px hsl(0 0% 0% / 0.4);
  --shadow-2xl: 0px 10px 20px 0px hsl(0 0% 0% / 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
